@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	min-height: 2000px;

	font-family: 'Inter', sans-serif;
	padding: 1rem;
}

.bgImage-wrapper {
	z-index: -1;
	pointer-events: none;

	position: absolute;
}

.bgImage {
	pointer-events: none;
	z-index: -1;
	width: 100%;

	border-radius: inherit;
	box-shadow: 0px 0px 15px 0px black;
}

.animeBoyKeyboardImage-wrapper {
	width: 40%;
	top: 0rem;
	right: 0rem;

	border-bottom-left-radius: 75%;
	border-bottom-right-radius: 15%;
}

/* Top Logo */
.topLogoImg-wrapper {
	width: 15rem;

	display: flex;

	/* padding: 1rem; */
	margin: 1rem;
}
.topLogoImg {
	width: 100%;
}

/* QUICK ACCESS */

.quickAccess-wrapper {
	display: none;
	justify-content: center;
	background-color: var(--dark-green);
	color: var(--dark-grey);
	width: max-content;
	position: fixed;
	top: 1rem;
	right: 1rem;
	border-radius: 1rem;
	/* margin-inline: 45%; */
	/* margin-inline: 43%; */

	transition: 0.2s ease;
	box-shadow: 0px 2px 3px 0px black;

	opacity: 0.5;

	max-width: 20rem;
}
.quickAccess-wrapper:hover {
	opacity: 1;
	transition: 0.2s ease;
}

.quickAccess-details {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.quickAccess-summary {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	user-select: none;
	padding: 1rem;
}
.quickAccess-ul {
	border-radius: 1rem;
	background-color: var(--grey);
	display: flex;
	flex-direction: column;

	list-style-type: none;
	margin-top: 1rem;
	/* padding: 1rem; */
	margin: 0.5rem;
}
.quickAccess-li {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	padding-block: 0.8rem;
	/* height: 3rem; */

	/* border-radius: inherit; */
	transition: 0.1s ease;
}
.quickAccess-li i {
  padding-inline: .3rem;

}
.quickAccess-li:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.quickAccess-li:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
.quickAccess-li:hover {
	background-color: var(--dark-grey);
	color: white;
}
.quickAccess-li a {
	/* color: var(--dark-grey); */
	color: inherit;
}
.quickAccess-li a:hover {
	/* color: white; */
	color: inherit;
}

/* Hero Section  */

.hero-wrapper {
	display: flex;
	flex-direction: column;

	padding: 1rem;
}

.taglineHeading {
	font-size: 5.5rem;
	color: var(--dark-grey);
}
.taglineHeading span {
	color: var(--dark-green);
}

.installChromeExtensionLink-wrapper {
	display: flex;
	background-color: var(--dark-green);
	width: fit-content;

	border-radius: 1rem;

	margin: auto;
	margin-block: 5rem;
	/* margin-left: 10.5rem; */
}
.installChromeExtensionLink-wrapper .installChromeExtensionLinkImg-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	padding-right: 0.5rem;
}
.installChromeExtensionLinkImg-wrapper img {
	width: 100%;
}
.installChromeExtensionLink {
	display: flex;
	align-items: center;
	color: white;

	border-radius: inherit;
	padding: 0.8rem;

	font-size: 1.5rem;
}
.installChromeExtensionLink:hover {
	background-color: var(--light-green);
	color: white;
}
.installChromeExtensionLinkSpan {
	width: 100%;
	font-weight: 500;
}

/* Animated Logo */

.animatedLogo-wrapper {
	position: absolute;
	left: -10%;
	margin: auto;
	top: 60%;
	width: 25rem;

	z-index: -1;
	user-select: none;
}

.animatedLogo {
	width: 100%;
	pointer-events: none;
}

.globe {
	animation: rotater 60s linear infinite;
}
.keyboard {
	position: absolute;
	top: 0px;
	left: 0px;
	animation: revolver 60s linear infinite;
}

@keyframes revolver {
	0% {
		transform: translate(12rem, 12rem) scale(0.5);
		z-index: -1;
	}
	25% {
		transform: translate(0rem, 0rem) scale(0.2);
	}
	50% {
		transform: translate(-12rem, -12rem) scale(0.5);
	}
	75% {
		transform: translate(0rem, 0rem) scale(1.2);
	}
	100% {
		transform: translate(12rem, 12rem) scale(0.5);
	}
}

@keyframes rotater {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.scrollToTopButton {
	display: flex;
	position: fixed;

	width: 3rem;
	height: 3rem;

	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	bottom: 1rem;
	right: 1rem;

	border-radius: 100%;
}
.scrollToTopButton:hover {
	color: white;
}
