



.aboutSection.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 80%;
    margin-top: 10rem;
}
.aboutSection.sections > div{
    margin-inline: 1rem;
}


.iframe-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.youtubeVideoIframe{
    border-radius: 2rem;
    box-shadow: 0px 2px 5px 0px black;
    transition: 0.2s ease;
    width: 100%;
    height: 18rem;
    /* height: 100%; */
}
.youtubeVideoIframe:hover{
    transform: scale(1.01);
    /* box-shadow: 0px 5px 5px 0px black; */
}

.aboutText-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.aboutTextSpan{
    font-size: 1.2rem;
    line-height: 1.57em;
    text-align: center;
}
.productHuntLink.links{
    display: flex;
    box-shadow: 0px 0px 0px 0px black;
    height: 4rem;
    margin-top: 1rem;
	--phColor: #da552f;
	padding: 0rem;
	/* border: .2rem solid var(--phColor); */
	background-color: #fff;
}
.productHuntLink.links:focus,
.productHuntLink.links:hover
{
	/* outline-color: #da552f; */
}
.productHuntLink.links img{
    width: 100%;
    height: 100%;
}