



.aboutSection.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 80%;
    padding-top: 5rem;
}
.aboutSection.sections > div{
    margin-inline: 1rem;
}


.iframe-wrapper{
    display: flex;
    width: 30rem;
}
.youtubeVideoIframe{
    border-radius: 2rem;
    box-shadow: 0px 2px 5px 0px black;
    transition: 0.2s ease;
    width: 100%;
    height: 315px;
}
.youtubeVideoIframe:hover{
    transform: scale(1.01);
    /* box-shadow: 0px 5px 5px 0px black; */
}

.aboutText-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75%;
}
.aboutTextSpan{
    font-size: 1.2rem;
    line-height: 1.57em;
    text-align: center;
}
.productHuntLink.links{
    margin-top: 1rem;
	--phColor: #da552f;
	/* height: 100%; */
	/* justify-self: center; */
	/* border-radius: 1rem; */
	/* padding: .5rem; */
	padding: 0rem;
	border: .2rem solid var(--phColor);
	background-color: #fff;
}
.productHuntLink.links:focus,
.productHuntLink.links:hover
{
	/* outline-color: #da552f; */
}