footer {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #f0f0f0;

	position: relative;
	width: 100%;
	margin-top: 2rem;
	background-color: #262626;

	font-size: 1rem;
	padding: 2rem;

	padding-bottom: 5rem;
}



footer > div{
	display: flex;
	margin-inline: 2rem;
	/* height: 100%; */
	/* flex: 1; */
}
footer .footerLinks-wrapper {
	flex-wrap: wrap;
	/* flex-direction: column; */
	width: 30%;
}

footer .footerLinks {
	display: flex;
    align-items: baseline;
    margin-inline: 2rem;
    margin-block: 2rem;
	opacity: 0.8;
}
footer .footerLinks:hover,
footer .footerLinks:focus {
	text-decoration: underline;
	opacity: 1;
}
footer .footerLinks i {
	margin-inline: 0.2rem;
}
.dark footer {
    background-color: #141414;
}


footer .subscribeNewsletter-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;

	border-radius: 1rem;
}
footer .subscribeNewsletter-wrapper span{
	padding: 1rem;
}
footer .subscribeNewsletter-wrapper iframe{
	border-radius: 1rem;
	height: 7rem;
	width: 100%;
}





.creationText {
    position: absolute;
	bottom: 3rem;
}
.prakharLink {
    color: #ffce76;
	text-decoration: none;
}
.copyrightText {
    position: absolute;
	font-size: 0.8rem;
	bottom: 1rem;
}

.prakashhTechLink {
    color: var(--dark-blue);
	text-decoration: none;
}
.prakashhTechLink:focus,
.prakashhTechLink:hover {
    color: var(--dark-blue);
}
