
body {
	/* min-height: 2000px; */
	
	/* padding: 1rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;
	
	background-color: var(--grey);

}
body .sections{
	/* min-height: 100vh; */
	width: 100%;
	color: var(--dark-grey);
	display: flex;
	margin-block: 7rem;
}

.bgImage-wrapper {
	z-index: -1;
	pointer-events: none;

	position: absolute;
}

.bgImage {
	pointer-events: none;
	z-index: -1;
	width: 100%;

	border-radius: inherit;
	box-shadow: 0px 0px 15px 0px black;

}

.animeBoyKeyboardImage-wrapper {
	width: 40%;
	top: 0rem;
	right: 0rem;

	border-bottom-left-radius: 75%;
	border-bottom-right-radius: 15%;
}


dialog.subscribeDialog{
	width: 60%;
	height: 60%;
	
	display: flex;
	flex-direction: row;	
	padding: 0rem;

	background-color: #262626;
	color: #f0f0f0;
}
.leftSideDiv{
	height: 100%;
	width: 80%;
	background-image: url(../../media/hand_typing_oilPainting.webp);
	background-size: cover;
	background-repeat: no-repeat;
}
.rightSideDiv{
	display: flex;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	padding: 2rem;
}
.rightSideDiv h2{
	text-align: center;
	font-weight: 400;
}
.rightSideDiv h2 span{
	color: var(--dark-green);
}

iframe#prakashhTechSubtackIframe {
	width: 100%;
	height: 35%;
    border-radius: 1rem;
    border: none;
}



/* QUICK ACCESS */

.quickAccess-wrapper {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #0196b1;
	/* color: var(--dark-grey); */
	color: var(--white);
	width: max-content;
	position: fixed;
	top: 1rem;
	right: 1rem;
	border-radius: 1rem;
	
	z-index: 2;
	transition: 0.2s ease;
	box-shadow: 0px 2px 3px 0px black;
	
	max-width: 20rem;
}

.quickAccess-wrapper:hover {
	opacity: 1;
	transition: 0.2s ease;
}

.quickAccess-details {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.quickAccess-summary {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	user-select: none;
	padding: 1rem;
}
.quickAccess-summary i{
	/* margin-right: .3rem; */
}



.quickAccess-ul {
	border-radius: 1rem;
	background-color: var(--grey);
	display: flex;
	flex-direction: column;

	list-style-type: none;
	margin-top: 1rem;
	/* padding: 1rem; */
	margin: 0.5rem;
	color: var(--dark-grey);

}
.quickAccess-li {
	/* display: flex;
	align-items: center;
	padding: 0.5rem;
	padding-block: 0.8rem; */
	/* height: 3rem; */

	/* border-radius: inherit; */
	transition: 0.1s ease;
}
.quickAccess-li i {
  padding-inline: .3rem;

}
.quickAccess-li:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.quickAccess-li:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
.quickAccess-li:hover {
	background-color: var(--dark-grey);
	color: var(--white);
}
.quickAccess-li a {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	padding-block: 0.8rem;
	/* color: var(--dark-grey); */
	color: inherit;
}
.quickAccess-li a i{
	width: 2rem;
}
.quickAccess-li a:hover {
	/* color: var(--white); */
	color: inherit;
}


.quickAccess-li .sponsorLink{
	color: hsl(350, 100%, 65%);
}
.quickAccess-li a.sponsorLink:focus,
.quickAccess-li a.sponsorLink:hover{
	background-color: hsl(350, 100%, 65%);
}



/* starRepoLink */
.starRepoButton{
	display: none;
	justify-content: center;
	align-items: baseline;
	position: fixed;
	bottom: 1rem;
	left: 2rem;

	padding: 1rem;

	background-color: #0f0f0f;
	border-radius: 1rem;
	color: #bfbfbf;

	box-shadow: 0px 0px 10px 0px #0f0f0f;
	transition: 0.2s ease;
	
	border: 2px solid #bfbfbf;
	
	font-weight: 500;
	z-index: 2;
}
.starRepoButton:focus,
.starRepoButton:hover
{
	background-color: #e3b341;
	transform: scale(1.1);
	color: #0f0f0f;
	border-color: #0f0f0f;
}
.starRepoButton:focus i,
.starRepoButton:hover i
{
	color: #0f0f0f;
}
.starRepoButton i{
	margin-inline: .2rem;
	color: #e3b341;
	transition: 0.2s ease;

}




.switchMode{
	align-self: center;
	justify-self: center;
	width: 90%;
	margin: auto;
	background-color: transparent;
	color: #262626;
	border: 2px solid #262626;
}
.switchMode:hover{
	background-color: #262626;
}
.dark .switchMode{
	border-color: #f0f0f0;
	color: #f0f0f0;
	align-self: center;
	justify-self: center;
	width: 90%;
	margin: auto;
}
.dark .switchMode:hover{
	background-color: #f0f0f0;
	color: #262626;
}
.switchMode i{
	margin-inline: .3rem;
}
.switchMode span.darkOn{
	display: none;
}
html.dark .switchMode span.darkOn{
	display: block;
} 
html.dark .switchMode span.darkOff{
	display: none;
}




/* Animated Logo */

.animatedLogo-wrapper {
	position: absolute;
	left: -10%;
	margin: auto;
	width: 25rem;

	z-index: -1;
	user-select: none;

	/* opacity: 0.5; */
}

.animatedLogo {
	width: 100%;
	pointer-events: none;
}

.globe {
	animation: rotater 60s linear infinite;
}
.keyboard {
	position: absolute;
	top: 0px;
	left: 0px;
	animation: revolver 60s linear infinite;
}

@keyframes revolver {
	0% {
		transform: translate(12rem, 12rem) scale(0.5);
		z-index: -1;
	}
	25% {
		transform: translate(0rem, 0rem) scale(0.2);
	}
	50% {
		transform: translate(-12rem, -12rem) scale(0.5);
	}
	75% {
		transform: translate(0rem, 0rem) scale(1.2);
	}
	100% {
		transform: translate(12rem, 12rem) scale(0.5);
	}
}

@keyframes rotater {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.scrollToTopButton {
	display: flex;
	position: fixed;

	width: 3rem;
	height: 3rem;

	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: var(--white);
	bottom: 1rem;
	right: 1rem;

	border-radius: 100%;

	box-shadow: 0px 0px 5px 0px black;
}
.scrollToTopButton:hover {
	color: var(--white);
}



.bgCircle-wrapper{
	display: flex;
	
	position: absolute;
	/* left: -10%; */
	/* top: 10rem; */
	
	
	border-radius: 50%;
	
	z-index: -2;

	padding: 10rem;
	/* opacity: 0.8; */
}

.topBgCircle{
	padding: 15rem;
	top: 45rem;
	right: -25%;
}
.leftBgCircle{
	top: 40rem;
	left: -15%;
}

.bgCircle-wrapper.blue{
	background-color: #26bcd6;
}
.bgCircle-wrapper.green{
	background-color: #49a942;

}